ul{
    display: flex;
    padding-bottom: 20px;
    justify-content: space-between;
    font-size: 30px;
    border-bottom-style: solid;
}

.navFont{
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

.current, .current:hover {
    color: orangered;
    font-weight: bold;
    font-size: 35px;
    text-decoration: none;
    cursor:default;
}